* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    max-height: 200%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 80vh;
    max-height: 200vh;
    padding-top: 1%;
    padding-bottom: 10%;
}

.logo {
    z-index: 2;
    position: relative;
    top: 0;
}

.container {
    position: relative;
    margin-top: 15vh;
    margin-bottom: auto;
    border-radius: 3px;
    width: 300px;
    height: 120px;
    background: #1d404a;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.6s ease-out;
}

.leaflet-container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 97%;
    max-height: 40%;
    display: None;
}

.leaflet-control-attribution svg {
    width: 0
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.nearby {
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    color: #cfdfe9;
    font-weight: 800;
    font-size: 1rem;
    scale: 0;
    opacity: 0;
}

.price-box {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2%;
}

.price-box .price-petrol {
    z-index: 2;
    float: left;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 30px;
}

.price-box .price-diesel {
    z-index: 2;
    float: left;
    color: #000000;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
    margin-right: 15%;
}

.price-box .price-petrol, .price-box .price-diesel span {
    z-index: 2;
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 1rem;
    padding-left: 0%;
    padding-right: 10%;
}

.change {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 5%;
}

.change .petrol-change, .change .diesel-change {
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: -10%;
}

.change .petrol-change {
    z-index: 2;
    justify-content: center;
    font-weight: bold;
    margin-left: -10%;
    text-align: center;
}

.change .diesel-change {
    z-index: 2;
    margin-right: 8%;
    justify-content: center;
    font-weight: bold;
    padding-left: 5%;
    text-align: center;
}

.price-box, .change {
    z-index: 2;
    scale: 0;
    opacity: 0;
}

footer {
    z-index: 2;
    color: rgb(255, 252, 252);
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a {
    color: rgb(145, 222, 234);
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}



@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

.switch {
    position: absolute;
    top: 18px;
    /* Adjusted value for alignment */
    left: 286px;
    /* Adjusted value for alignment */
    padding: 0;
    width: 20px;
    height: 10px;
    z-index: 2;

}

.switch input:checked {
    background-color: #2196F3;
}

.switch input:checked {
    transform: translateX(26px);
}

#toggle-icon {
    padding-top: 15px;
    padding-bottom: 17px;
    color: white;
    font-size: larger;
    cursor: pointer;
}


#mode-toggle {
    right: -21px;
    position: fixed;
}

input:checked {
    background-color: #2196F3;
}

input:checked {
    transform: translateX(26px);
}

/* Div Tag Styles */
#social-sharing-icon {
    text-align: center;
    margin: 8px;
}

/* To Hide The Whatsapp Icon Initially Styles */
.hide-the-icon {
    display: none;
}

/* Whatsapp Icon Styles */
.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}