*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    max-height: 200%;
}
body{
    display: flex;
    align-items: center;
    justify-content:center;
    background:white
}

.dark-mode
{
    background:black;
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

#page-container {
    position: relative;
    min-height: 80vh;
    max-height: 200vh;
    padding-top: 1%;
    padding-bottom: 10%;
}

.logo{
    z-index: 2;
    position:relative;
    top: 0;
}

.dark-mode .logo-image
{
    content: url('images/logo.png');
}
.dark .favicon
{
    color:url('images/favicon.png')
}

.name1
{
    color:black;
}
.name2
{
    color:black
}
.dark-mode .name1
{
    color: white;
}

.dark-mode  .name2
{
    color:white
}

.container {
    position: relative;
    margin-top: 15vh;
    margin-bottom: auto;border-radius: 3px;
    width: 300px;
    height: 125px;
    background: #1d404a;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.6s ease-out;
}

.leaflet-container {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 97%;
    max-height: 40%;
    display:None;
}

.leaflet-control-attribution svg {
    width:0
}

.dark-mode .leaflet-layer,
.dark-mode .leaflet-control-zoom-in,
.dark-mode .leaflet-control-zoom-out,
.dark-mode .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgb(190, 12, 12);
    color: #7a2323;
    box-shadow: 0 3px 14px rgba(207, 16, 16, 0.4);
    }

select[name="state"]
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:#547f85;
    color: white;
    position:relative;
    width: 70%;
    height: 20%;
    padding: 2%;
    z-index: 2;
    border-radius: 3px;
    
}

select[name="city"] {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:#547f85;
    color: white;
    position: relative;
    padding: 2%;
    width: 70%;
    z-index: 2;
    border-radius: 3px;
}

select option:disabled {
    color: black;
}

.search-box button{
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #EE3E3E;
    background: #1d404a;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #d01212;
    background: #004E58;
}

.nearby
{
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    color: #cfdfe9;
    font-weight: 800;
    font-size: 1rem;
    scale: 0;
    opacity: 0;
}

.price-box{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2%;
}

.price-box .price-petrol{
    z-index: 2;
    float: left;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 30px;
}

.price-box .price-diesel{
    z-index: 2;
    float: left;
    color: #000000;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
    margin-right: 15%;
}

.price-box .price-petrol, .price-box .price-diesel span{
    z-index: 2;
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 1rem;
    padding-left: 0%;
    padding-right: 10%;
}

.change{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 5%;
}

.change .petrol-change, .change .diesel-change{
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: -10%;
}

.change .petrol-change{
    z-index: 2;
    justify-content: center;
    font-weight: bold;
    margin-left: -10%;
    text-align: center;
}

.change .diesel-change{
    z-index: 2;
    margin-right: 8%;
    justify-content: center;
    font-weight: bold;padding-left: 5%;
    text-align: center;
}

.change i{
    z-index: 2;
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.change span{
    z-index: 2;
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.change p{
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.price-box, .change{
    z-index: 2;
    scale: 0;
    opacity: 0;
}

.dark-mode .price-box ,
.dark-mode .price-petrol ,
.dark-mode .price-diesel ,
.dark-mode .change p
{
    color: white;
}

footer{
    z-index: 2;
    color: black;
    text-align: center; 
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.dark-mode footer
{
    color:white;
}
footer a{
    color: rgb(145, 222, 234);
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}



@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}


/* @media only screen and (min-width: 768px) {
    .leaflet-container {
        position:fixed;
        left: 0;
        top:0;
        right:0;
        bottom: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        display:block;
        z-index: -3;
    }
    .container {
        z-index: 1;
        position: fixed;
        left: 1%;
    }

    .search-box{
        position: relative;
        z-index: 2;
    }
    footer{
        display: flex;
        position: fixed;
        flex-direction: column;
        width: max-content;
        margin-bottom: 5vh;
    }
}
*/
/* @media (max-width: 767px)
{ */
     .price-box .price-diesel,
     .price-box .price-petrol,
     .change p
     {
    color:white;
     }
/* }  */
/* Styles for the toggle button container */
/* Dark mode styles */
/* @media (prefers-color-scheme: light) {
    
    body {
      background-color: #121212;
      color: #fff;
    }
  } */
  
  /* Styles for the toggle switch */
  .switch {
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    padding: 0;
    width: 70%;
    z-index: 2;
    width: 20px;
    height: 10px;

  }
  #toggle-icon{
    color: white;
  }
  

  #mode-toggle{
    right:-21px;
    position: fixed;
  }
  
  input:checked  {
    background-color: #2196F3;
  }
  
  input:checked {
    transform: translateX(26px);
  }
  
  .mode-label {
    margin-left: 10px;
    font-weight: bold;
    color: white;
    position: relative;
    top:-18px;
    left:30px;
  }

  .dark-mode .mode-label
  {
    color:white
  }

  .dark-mode .leaflet-container {
    background-color: #121212;
  }
  
  .dark-mode .leaflet-popup-content-wrapper,
  .dark-mode .leaflet-popup-tip {
    background: #222; 
    color: #fff; 
  }
  