*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content:center;
    background: #000000;
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
#page-container {
    position: relative;
    min-height: 80vh;
    max-height: 100vh;
    padding-top: 5%;
    padding-bottom: 10%;
}
  

.logo{
    position:fixed;
    top: 0;
}

.container {
    position: relative;
    margin-top: 15vh;
    margin-bottom: auto;border-radius: 3px;
    width: 300px;
    height: 105px;
    background: #1d404a;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.6s ease-out;
}

.leaflet-container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 90%;
    min-height: 40%;
    max-height: 40%;
    display:None;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgb(190, 12, 12);
    color: #7a2323;
    box-shadow: 0 3px 14px rgba(207, 16, 16, 0.4);
    }

select[name="state"]
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:#547f85;
    color: white;
    position:relative;
    width: auto;
    height: 20%;
    padding: 2%;
    z-index: 1;
    border-radius: 1px;
    
}

select[name="city"] {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:#547f85;
    color: white;
    position: relative;
    padding: 2%;
    top: 50%;
    left: 19;
    width: auto;
    z-index: 2;
    border-radius: 1px;
}

select option:disabled {
    color: black;
}



.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #EE3E3E;
    background: #1d404a;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}


.search-box button:hover{
    color: #d01212;
    background: #004E58;
}

.nearby
{
    margin-top: 10px;
    text-align: center;
    color: #cfdfe9;
    font-weight: 800;
    font-size: 1rem;
    scale: 0;
    opacity: 0;
}

.price-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2%;
}

.price-box .price-petrol{
    float: left;
    color: #cfdfe9;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 30px;
}

.price-box .price-diesel{
    float: left;
    color: #cfdfe9;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
    margin-right: 15%;
}

.price-box .price-petrol, .price-box .price-diesel span{
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 1rem;
    padding-left: 0%;
    padding-right: 10%;
}

.change{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 5%;
}

.change .petrol-change, .change .diesel-change{
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: -10%;
}

.change .petrol-change{
    justify-content: center;
    font-weight: bold;
    margin-left: -10%;
    text-align: center;
}

.change .diesel-change{
    margin-right: 8%;
    justify-content: center;
    font-weight: bold;padding-left: 5%;
    text-align: center;
}

.change i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.change span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.change p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cfdfe9;
    font-size: 14px;
    font-weight: 500;
}
.price-box, .change{
    scale: 0;
    opacity: 0;
}

footer{
    color: white;
    text-align: center; 
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a{
    color: rgb(145, 222, 234);
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}