*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.logo{
    position:absolute;
    left:0;
    top:0;
    margin-bottom: auto;

}

.container{
    position: relative;
    margin-top: 120px;
    margin-bottom: auto;
    width: 500px;
    height: 105px;
    background: #ffffffd6;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 95%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.search-box input{
    background-color: #ffffffd6;
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
}

.search-box input::placeholder{
    background: #D6D6D6;
    font-size: 20px;
    font-weight: 500;
    color: #06283d;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #000000;
    background: #D6D6D6;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

input[type="text"]{
    background-color: #D6D6D6;
}

.search-box button:hover{
    color: #ffffffd6;
    background: #000000;
}

.search-box i{
    position: absolute;
    color: #e40b0b;
    font-size: 28px;
}

.price-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2%;
}

.price-box .price-petrol{
    float: left;
    color: #06283d;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
}

.price-box .price-diesel{
    float: left;
    color: #06283d;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
    margin-right: 15%;
}

.price-box .price-petrol, .price-box .price-diesel span{
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 1.5rem;
    padding-left: 0%;
    padding-right: 10%;
}

.change{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 5%;
}

.change .petrol-change, .change .diesel-change{
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: -10%;
}

.change .petrol-change{
    justify-content: center;
    font-weight: bold;
    margin-left: -10%;
}

.change .diesel-change{
    margin-right: 8%;
    justify-content: center;
    font-weight: bold;padding-left: 5%;
}

.change i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.change span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.change p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: none;
    scale:0;
    opacity:0;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.price-box, .change{
    scale: 0;
    opacity: 0;
}

.state-img img{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    scale:0;
    opacity:0;
}

.state-img iframe{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer{
    color: white;
    text-align: center; 
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
}

footer a{
    color: rgb(145, 222, 234);
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}