*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
}

.container{
    position: relative;
    width: 500px;
    height: 105px;
    background: #fff;
    border-radius: 18px;
    font-family: sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 95%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.search-box input{
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283d;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283d;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283d;
}

.search-box i{
    position: absolute;
    color: #06283d;
    font-size: 28px;
}

.price-box{
    text-align: center;
    width: 60%;
    margin-top: 30px;
}

.price-box .price-petrol{
    float: left;
    color: #06283d;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
}

.price-box .price-diesel{
    float: right;
    color: #06283d;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
    text-align: right;
    margin-right: -150px;
}

.price-box .price-petrol, .price-box .price-diesel span{
    position: absolute;
    margin-left: 60px;
    font-size: 1.5rem;
    padding-left: 20px;
    /* padding-right: ; */
}

.change{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.change .petrol-change, .change .diesel-change{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.change .petrol-change{
    padding-left: 20px;
    justify-content: flex-start;
}

.change .diesel-change{
    padding-left: 20px;
    justify-content: flex-start;
}

.change i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.change span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.change p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.price-box, .change{
    scale: 0;
    opacity: 0;
}

.state-img img{
    width: auto;
    display: none;

}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}