/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

/* Body Styles */
html, body {
    min-height: 100%;
    max-height: 200%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}

/* Light and Dark Mode Styles */
.light-mode {
    background: white;
}

.light-mode .logo-image {
    content: url('images/logo2.png');
}

.dark .favicon {
    color: url('images/favicon2.png');
}

/* Footer Styles */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Page Container Styles */
#page-container {
    position: relative;
    min-height: 80vh;
    max-height: 200vh;
    padding-top: 1%;
    padding-bottom: 10%;
}

/* Logo Styles */
.logo {
    /* z-index: 2; */
    position: relative;
    /* top: 0; */
}

/* Name Styles */
.light-mode .name1, .light-mode .name2 {
    color: black;
}

.name1, .name2 {
    color: white;
}

/* Container Styles */
.container {
    position: relative;
    margin-top: 15vh;
    margin-bottom: auto;
    border-radius: 3px;
    width: 300px;
    height: 150px;
    background: #1d404a;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.6s ease-out;
}

/* Leaflet Styles */
.leaflet-container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 97%;
    max-height: 40%;
    display: none;
}

/* Select Styles */
select[name="state"], select[name="city"] {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #547f85;
    color: white;
    position: relative;
    width: 70%;
    height: 20%;
    padding: 2%;
    z-index: 2;
    border-radius: 3px;
}

select option:disabled {
    color: black;
}

/* Search Box Styles */
.search-box button {
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #EE3E3E;
    background: #1d404a;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover {
    color: #d01212;
    background: #004E58;
}

/* Nearby Styles */
.nearby {
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    color: #cfdfe9;
    font-weight: 800;
    font-size: 1rem;
    scale: 0;
    opacity: 0;
}

/* Price Box Styles */
.price-box, .change {
    z-index: 2;
    scale: 0;
    opacity: 0;
}

/* Price Styles */
.price-box .price-petrol, .price-box .price-diesel {
    z-index: 2;
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 1rem;
    padding-left: 0%;
    padding-right: 10%;
}

/* Change Styles */
.change .petrol-change, .change .diesel-change {
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: -10%;
}

.change .petrol-change {
    z-index: 2;
    justify-content: center;
    font-weight: bold;
    margin-left: -10%;
    text-align: center;
}

.change .diesel-change {
    z-index: 2;
    margin-right: 8%;
    justify-content: center;
    font-weight: bold;
    padding-left: 5%;
    text-align: center;
}

.change i {
    z-index: 2;
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.change span {
    z-index: 2;
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.change p {
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

/* Light Mode Styles */
.light-mode .price-box,
.light-mode .price-petrol,
.light-mode .price-diesel,
.light-mode .change p {
    color: rgb(255, 255, 255);
}

/* Footer Styles */
footer {
    z-index: 2;
    color: rgb(255, 252, 252);
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* Div Tag Styles */
#social-sharing-icon {
    text-align: center;
    margin: 8px;
}

/* To Hide The Whatsapp Icon Initially Styles */
.hide-the-icon{
    display: none;
}

/* Whatsapp Icon Styles */
.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* WhatsApp Icon Style */
.fa-whatsapp {
    font-size: 22px;
    color: #fff; 
    background:#25d366;
    margin: 2px;
    padding: 4px;
    transition: all 0.3s ease;
}

/* Hover On Whatsapp Icon Styles */
.fa-whatsapp:hover {
    background-color: #1d404a;
}

/* Light Mode Footer Styles */
.light-mode footer {
    color: rgb(0, 0, 0);
}

/* Footer Link Styles */
footer a {
    color: rgb(145, 222, 234);
}

/* Fade In Animation */
.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

/* Toggle Switch Styles */
.switch {
    position: absolute;
    top: 18px; /* Adjusted value for alignment */
    left: 286px; /* Adjusted value for alignment */
    padding: 0;
    width: 20px;
    height: 10px;
    z-index: 2;
    
}

.switch input:checked {
    background-color: #2196F3;
}


 Light Mode Switch Background */
 .light-mode .switch input:checked {
    background-color: black /* Your desired background color for light mode */;
 }

 .switch input:checked {
    transform: translateX(26px);
} 


#toggle-icon {
    padding-top: 15px;
    padding-bottom: 17px;
    color: white;
    font-size: larger;
    cursor: pointer;
}

#mode-toggle {
    right: -21px;
    position: fixed;
}

input:checked {
    background-color: #2196F3;
}

input:checked {
    transform: translateX(26px);
}

/* Light Mode Leaflet Styles */
.light-mode .leaflet-container {
    background-color: #121212;
}

.light-mode .leaflet-popup-content-wrapper,
.light-mode .leaflet-popup-tip {
    background: #222;
    color: #1d1919;
}
